.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 40% 60%;
  grid-template-areas: "sidebar content";
  background-color: #fff;
  color: #444;
  margin-left: 40px;
  margin-right: 40px;
}

/*Search*/

.searching {
  border-bottom: 25px solid rgb(1, 172, 1);
  padding-top: 30px;
}


.input-field {
  height: 25px;
  background-color: rgb(194, 248, 163);
  border: 1px solid lightgray;
}

.search-button {
  background-color: rgb(110, 172, 106);
  color: rgb(255, 255, 255);
  height: 29px;
  border: 1px solid transparent;
  margin-bottom: 3%;
  margin-top: 10px;
  cursor: pointer;
}

/*buttons*/

.change-view-button {
  background-color: rgb(194, 248, 163);
  color: rgb(0, 0, 0);
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: 1px solid transparent;
  margin-bottom: 3%;
  margin-top: 10px;
  cursor: pointer;
}

.follow-button {
  background-color:rgb(194, 248, 163);
  color: black;
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: 1px solid transparent;
  width: 25%;
  margin-bottom: 3%;
  margin-right: 3%;
  cursor: pointer;
}

.follow-button:hover {
  background-color:rgb(184, 182, 182);
}

.other-button {
  background-color:rgb(194, 248, 163);
  color: black;
  padding: .375rem .75rem;
  border-radius: .25rem;
  border: 1px solid transparent;
  width: 12%;
  margin-bottom: 3%;
  margin-right: 3%;
  cursor: pointer;
}

.other-button:hover{
  background-color:rgb(184, 182, 182);
}

/*sidebar and its views*/
.sidebar {
  grid-area: sidebar;
  margin-left: 200px;
}

.tiles {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, [col] 55%);
  grid-template-rows: repeat(3, [row] auto);
  background-color: #fff;
  color: #444;
  margin-right: 200px;
}

.line_by_line {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, [col] 75%);
  grid-template-rows: repeat(10, [row] auto);
  background-color: #fff;
  color: #444;
  margin-right: 200px;
}

.avatar_img {
  border-radius: 50%;
  height: 230px;
  padding-bottom: 7px;
}

.name {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 7px;
}

.login {
  font-size: 24px;
  color: grey;
  padding-bottom: 7px;
}

.bio {
  font-size: 18px;
  font-weight: normal;
  color: black;
  padding-bottom: 15px;
}

.followers {
  font-size: 17px;
  padding-bottom: 7px;
}

.location{
  font-size: 15px;
  color: black;
  font-weight: normal;
  padding-top: 15px;
  padding-bottom: 7px;
}

.email{
  font-size: 15px;
  color: black;
  font-weight: normal;
  padding-bottom: 7px;
}

.email-rgba:hover {
  color: rgba(0, 4, 255, 0.993);
}

.flw-black {
  color: black;
  font-weight: 100;
}

.flw-rgb:hover {
  color: rgb(0, 4, 255);
}

.box {
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}

.in_box {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
  border: 1px solid lightgray;
  padding-bottom: 85px;
}

.repo_lang {
  position: absolute; 
  bottom: 20px;
}

a {
  text-decoration: none;
  color: rgb(13, 88, 6);
  font-weight: bold;
  cursor: pointer;
}

.underline-a:hover {
  text-decoration: underline;
}