/* HTML tags */

html
{
    width: 100%;
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
}

/*  */

.container
{
    margin: 0 auto;
    max-width: 90vw;
    width: 640px;
    display: block;
}

/* Footer in bottom alway */

.page__wrapper
{
    min-height: 100%;
    font-family: 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
    background-color: #EDE7F6;
    display: flex;
    flex-direction: column;
}

.page__content
{
    flex: 1 0 auto;
}

.page__footer
{
    display: block;
    width: 100%;
    flex: 0 0 auto;
}
/* Header */

.page__header
{
    width: 100%;
    height: 220px;
    background-color: #673AB7;
}

/* Form */

.content__form
{
    margin: -100px auto 0 auto;
    max-width: 90vw;
    width: 640px;
    background-color: white;
    box-shadow: 0 0 4px grey;
    padding: 24px;
    border-top: 8px solid #B388FF;
}

.content__form .p_head
{
    font-weight: bolder;
}

.content__form .p_head::after
{
    content: " *";
    color:#DB473F;
}

.content__form .content__from-little-text
{
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 16px;
    color: #70757a;
    color: rgba(0,0,0,0.66);
}

.content__form-button
{
    background-color: #4285f4;
    color: white;
    border: 1px solid #4285f4;
    padding: 8px 16px;
    border-radius: 4px;
}

.content__form-button:hover
{
    background-color: white;
    color: #4285f4;
}

/* Footer */

.page__footer > div
{
    text-align: center;
}

.page__footer .page__footer-link
{
    color: black;
    opacity: .26;
    text-decoration: none;
}

.page__footer .page__footer-double-logo
{
    font-family: 'Product Sans',Arial,Helvetica,sans-serif;
    font-size: 22.1px;
    position: relative;
    top: -6px;
    text-rendering: optimizeLegibility;
}

.page__footer .page__footer-text
{
    font: 400 12px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: rgba(0, 0, 0, 0.66);
}
