/* HTML tags */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}


/*  */

.container {
    margin: 0 auto;
    max-width: 90vw;
    width: 640px;
    display: block;
}


/* Footer in bottom alway */

.page__wrapper {
    min-height: 100%;
    font-family: 'Google Sans', Roboto, Helvetica, Arial, sans-serif;
    background-color: #EDE7F6;
    display: flex;
    flex-direction: column;
}

.page__content {
    flex: 1 0 auto;
}

.page__footer {
    display: block;
    width: 100%;
    flex: 0 0 auto;
}


/* Header */

.page__header {
    width: 100%;
    height: 220px;
    background-color: #673AB7;
}


/* edit-pencil */

.content__edit-pencil {
    display: block;
    position: fixed;
    right: 0;
    width: 16px;
    height: 16px;
    margin: 8px;
    background-color: #b388ff;
    color: white;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #b388ff;
}

.content__edit-pencil>svg {
    width: 100%;
    height: 100%;
}

.content__edit-pencil:hover {
    background-color: transparent;
    color: #b388ff;
}


/* report button */

.content__report {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 20px;
    height: 16px;
    margin: 16px 8px;
    padding: 4px;
    background-color: #6d6a71;
    border-radius: 4px;
    border: 2px solid #6d6a71;
}

.content__report a {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.content__report::before {
    content: '';
    border: 6px solid transparent;
    border-left: 6px solid #6d6a71;
    position: absolute;
    left: -2px;
    top: 20px;
}

.content__report:hover {
    background-color: transparent;
}

.content__report:hover a {
    color: #6d6a71;
}

.content__report:hover::before {
    border: none;
}


/* Form */

.content__form {
    margin: -100px auto 0 auto;
    max-width: 90vw;
    width: 640px;
    background-color: white;
    box-shadow: 0 0 4px grey;
    padding: 24px;
    border-top: 8px solid #B388FF;
}

.content__form .p_head {
    font-weight: bolder;
}

.content__form .p_head::after {
    content: " *";
    color: #DB473F;
}

.content__form .content__from-little-text {
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .3px;
    line-height: 16px;
    color: #70757a;
    color: rgba(0, 0, 0, 0.66);
}

.content__form-button {
    background-color: #4285f4;
    color: white;
    border: 1px solid #4285f4;
    padding: 8px 16px;
    border-radius: 4px;
}

.content__form-button:hover {
    background-color: white;
    color: #4285f4;
}

.content__form-file {
    display: none;
}

.content__form-file-label {
    color: #4285f4;
}

.content__form-input-name {
    border: none;
    border-bottom: 1px solid #e1e1e1;
    color: #e1e1e1;
    background-color: transparent;
    font-size: 1em;
}

.content__form-date {
    border: none;
    border-bottom: 1px solid #e1e1e1;
}

.content__form-select>select {
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: #848395;
    appearance: none;
}

.content__form-select::after {
    border: 4px solid transparent;
    border-top: 4px solid #b4b4b4;
    content: '';
    position: relative;
    top: 12px;
}


/* Footer */

.page__footer>div {
    text-align: center;
}

.page__footer .page__footer-link {
    color: black;
    opacity: .26;
    text-decoration: none;
}

.page__footer .page__footer-double-logo {
    font-family: 'Product Sans', Arial, Helvetica, sans-serif;
    font-size: 22.1px;
    position: relative;
    top: -6px;
    text-rendering: optimizeLegibility;
}

.page__footer .page__footer-text {
    font: 400 12px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.66);
}