.add_star::after {
    content: " *";
    color: #DB473F;
}

.lab4__container
{
    max-width: 375px;
    margin: 0 auto;
}

/* b-profile */
.lab4__b-profile
{
    width: 100%;
    display: flex;
    margin: 8px 0;
}

.b-profile__img
{
    width: 64px;
    margin: 0 8px;
}

.b-profile__img img
{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px lightgray;
}

.b-profile__info
{
    width: 100%;
}

.b-profile__name
{
    height: 50%;
}

.b-profile__login
{
    height: 50%;
    color: #586069
}
/* end b-profile */

/* b-stats */
.lab4__b-stats
{
    margin: 8px 0;
}

.b-stats__followers,
.b-stats__following,
.b-stats__stars
{
    font-weight: bold;
}
/* end b-stats */
