body{
    background: linear-gradient(to bottom, #673AB7 15%, #EDE7F6 0%);
    font-family: Arial;
}

.main {
    background: linear-gradient(to bottom, #B58AFF 0.7%, white 0%);
    width: 40%;
    margin-left: 30%;
    margin-top: 160px; 
    margin-bottom: 100px;
}

.disclamer {
    font-size: 12px;
    font-weight: 10;
}

.title {
    font-size: 30px;
    font-weight: 10;
    padding: 0px 0px 5px 0px;
}

h2 {
    font-size: 19px;
    font-weight: 20px;
    padding: 20px 0px 5px 0px;
}

.radiobuttons{
    font-weight: 10;
    font-size: 13px;
}

.file{
opacity: 0;
visibility: hidden;
position: absolute;
}

.add{
color: blue;
font-size: 13px;
font-weight: 700;
cursor: pointer;
}

.input{
width: 70%;
padding: 0 0 5px 0;
border: none;
border-bottom: 1px solid #e0e0e0;
background-color: transparent;
outline: none;
transition: 0.3s;
}

.select{
    border: none;
    outline: none;
    transition: 0.3s;
    background-color: transparent;
    color: grey;
}

.button{
    background-color: #4285F4;
    color: white;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    margin-top: 35px;
    border: none;
    outline: none;
    font-size: 15px;
}

.small{
    color: grey; 
    font-size: 12px;
    padding: 5px 0 0 0;
}

.pagebot {
margin: -65px 0 0 0;
display: flex;
justify-content: center;
color: gray;
}

.footer h2{
margin: -17px 0 25px 0;
color: gray;
font-size: 20px;
display: flex;
justify-content: center;
}