body{
    margin: 0;


}

.last_part {
    margin: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.footer h2{
    margin-block-start: 0;
    margin-block-end: 20px;
    margin-left: 30px;
    color: gray;
    font-size: 18;
    display: flex;
    justify-content: center;
}

.addfile{
    text-decoration: none;
}
.vvod{
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;

}
.header{
    height: 200px;
    margin: 0 ;
    background-color: hsl(264, 45%, 45%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;

}


.main{
    height: 1300px;
    background-color: hsl(267, 20%, 76%);
}

.mainHead{
    width: 47%;

    position: absolute;
    margin: 100px 25% 0 25%;
    background-image: linear-gradient(to bottom, rgb(168, 135, 245) 0.5%, white 0.5%);
    /* border: 3px solid rgb(230, 230, 230); */
    box-shadow: 0 0 1px 1px hsl(265, 41%, 82%);
}

.content_form{
    width: 90%;
    margin: 36px 200px 50px 6%;

    background-color: white;
}
.h1{
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
}

.h2{
    font-size: 20px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;

}

.button{
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    user-select: none;
    padding: .2em 1.2em;
    outline: none;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    background: rgb(0, 48, 255) linear-gradient(#0088ff, #52a2fd);
    transition: all .218s ease 0s;
}

.button:hover{
    color: rgb(71, 110, 255);
    border: 1px solid rgb(255, 255, 255);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.button:active{
    color: rgb(51,51,51);
    border: 1px solid rgb(0, 215, 255);
    background: rgb(0, 48, 255) linear-gradient(rgb(0, 136, 255), rgb(82, 162, 253));
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

.town{
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}