.blockWithSearch{
    position: relative;
    background-color: hsl(210, 12.2%, 16.1%);
    width: 100%;
    height:80px;
    box-sizing: border-box;
    z-index: 1;

}

.child
{
    display: inline-block;
    color: cornsilk;
    margin-left: 15px;
    vertical-align: middle;
    

}

.childInputUserName{
    position: absolute;
    display: inline-block;
    margin-top: 28px;
    left:40%;
}

.inputStyle{

    width: 276px;
    font-size: 19px;
    font-family: courier;
    border: 2px solid  #444d56; 
    border-radius: 5px; 
    background-color: hsl(210, 12.2%, 16.1%);
    color: #c8c9ca;
    
    
}



#font{
    font-family: courier;
    color:white;
    font-size: 35px;

}

.searchButton{
    background-color: hsl(210, 12.2%, 16.1%);
    border: 2px solid  #444d56; 
    color:hsl(210, 11%, 40%);
    font-size: 19px;
    border-radius: 5px;
    font-family: courier;
}

.round{
    border-radius: 260px;
    width: 260px;
    height: 260px;
}

.avatar{
    margin-top: 64px;
    margin-left: 17%;
    width: 260px;
    height: 260px;
    display:inline-block;
    z-index: 0r;
}

.fullName{
    width: 260px;
    height: 26px;
    margin-left: 17%;
    font-size: 26px;
    font-weight: 600;
    font-family: Helvetica,Arial,sans-serif;
}

.login{
    width: 260px;
    height: 22px;
    margin-left: 17%;
    margin-top: 0;
    font-family: gautami;
    font-size: 21px;
    
    color:hsl(210, 11%, 40%);

}

.followButton{
    border: 1px solid  hsl(214, 7%, 79%); 
    background-color: white;
    color: hsl(210, 12.2%, 16.1%);
    font-family:gautami;
    border-radius: 5px;
    font-size: 19px;
    height: 30px;
    width: 189px;

}
.threeDotsButton{
    border: 1px solid  hsl(214, 7%, 79%); 
    background-color: white;
    color:hsl(210, 12.2%, 16.1%);
    font-family:gautami;
    border-radius: 5px;
    font-size: 19px;
    height: 30px;
    width: 63px;

}

.classDivFollowButton{
    margin-top: 25px;
    width: 189px;
    margin-left: 17%;
    height: 19px;
    display: inline-block;
    
}

.classDivThreeDotsButton{
 
    margin-left: 4px;
    width: 63px;
    height: 19px;
    display: inline-block;
}

.bio{
    margin-top: 10px;
    width: 260px;
    margin-left: 17%;
    font-family:gautami;
    font-weight: 600;
    font-size: 17px;

}

.statistic{
    margin-left: 17%;
    color:hsl(210, 11%, 40%);
    width: 260px;
    font-family: Helvetica,Arial,sans-serif;

}

.location{
    margin-top: 25px;
    width: 260px;
    margin-left: 17%;
    font-family:gautami;
    color:#444d56;
    font-size: 17px;
    font-weight: 600;

}
.followersImage{
    width: 18px;
    height: 13px;
}

.locationImage{
    width: 15px;
    height: 15px;
}

.emailImage{
    width: 22px;
    height: 15px; 
}

.email{
    
    width: 260px;
    margin-left: 17%;
    font-family:gautami;
    color:#444d56;
    font-size: 17px;
    font-weight: 600;
}

.overView{
    color:#444d56;
    height: 17px;
    font-size: 17px;
    width: 120px;
    padding-left: 60px ;
    display: inline-block;
    vertical-align: 236px;
    font-family:gautami;

}

.button-overView {
     width: 120px;
    font-size: 19px;
    font-family:gautami;
    border: 0; 
	border-bottom: 1px solid white;
    background-color:white;
    color: #444d56;
    
}

.button-overView:hover{
    border-bottom: 2px solid  #444d56;
}

.button-overView:focus{
    outline: none !important;
    border-bottom: 2px solid rgb(236, 152, 41);
}

.repositories{
    color:#444d56;
    height: 17px;
    font-size: 17px;
    width: 120px;
    padding-left: 0 ;
    display: inline-block;
    vertical-align: 236px;
    font-family:gautami;

}

.projects{
    color:#444d56;
    height: 17px;
    font-size: 17px;
    width: 120px;
    padding-left: 0 ;
    display: inline-block;
    vertical-align: 236px;
    font-family:gautami;

}

.packages{
    color:#444d56;
    height: 17px;
    font-size: 17px;
    width: 120px;
    padding-left: 0 ;
    display: inline-block;
    vertical-align: 236px;
    font-family:gautami;

}

